questionr_0.7.0     
cobalt_3.7.0        
cmprsk_2.2-7        
survminer_0.4.7.999
ggpubr_0.2          
magrittr_1.5        
ggplot2_3.3.2       
survival_3.2-3     
glmnet_2.0-16       
foreach_1.4.7       
Matrix_1.2-15       
gmodels_2.18.1     
rlang_0.4.6         
dplyr_1.0.0         
knitr_1.22          
tibble_3.0.1       
kableExtra_1.1.0    
lubridate_1.7.4     
readxl_1.3.1   